@font-face {
  font-family: "warm";
  src: url("../font/warm.woff");
}
img {
  border: none;
}
/*############## container ##############*/
#container {
  width: 100%;
  font-family: "warm";
}

/*############## content ##############*/
#content {
  width: 1410px;
  padding-top: 100px;
  margin: 0 auto;
}

#content:after {
  content: "";
  display: block;
  clear: both;
}
/*############## project_box ##############*/
#project_box {
  width: 900px;
  height: 1600px;
  overflow: hidden;
  position: relative;
  float: left;
}

/*############## bntArea ##############*/
#bntArea {
  width: 900px;
  height: 200px;
  background-color: #ffffffa1;
  box-shadow: 8px 0 20px rgba(250, 250, 250, 0.9);
  position: absolute;
  top: 1500px;
}
#bntArea p {
  width: 600px;
  height: 60px;
  border: 1px solid #93b5c6;
  margin: 60px auto 0;
}
#bntArea button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #ffe3e3;
  font-family: "warm";
  font-size: 22px;
  cursor: pointer;
}

/*############## main_box ##############*/
#main_box {
  width: 100%;
  height: 159px;
  border-bottom: 1px solid #ccc;
}
#main_box h3 {
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
}
#main_box h3:hover {
  color: #7176ca;
  text-decoration: none;
}

#main_box .text_area {
  text-align: right;
  padding-top: 10px;
  color: #f47378;
}
#main_box .text_area a {
  font-size: 20px;
  color: #000;
  transition: color 0.5s linear;
}
#main_box .text_area a:hover,
a:focus {
  color: #8a3a8b;
  text-decoration: underline;
}

/*############## main_content ##############*/
#main_content {
  width: 100%;
  margin-top: 10px;
}

#main_content .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  text-align: center;
  padding-bottom: 5px;
}
#main_content .title:after {
  content: "──────────";
}
#main_content .title:before {
  content: "──────────";
}

#main_content .title b {
  font-size: 14px;
}

#main_content .main_img {
  width: 600px;
  margin: 0 auto;
}
#main_content .main_img p {
  width: 100%;
}
#main_content .main_img img {
  width: 100%;
}

#main_content .mainRast {
  width: 600px;
  margin: 0 auto 20px;
}
#main_content .mainRast p {
  width: 100%;
}
#main_content .mainRast img {
  width: 100%;
}

#main_content .main_desc {
  width: 600px;
  margin: 0 auto 20px;
  font-size: 20px;
}

/*############## content1 ##############*/
#content1 {
  width: 100%;
  margin-top: 20px;
}
#content1 h3 {
  text-align: center;
  padding: 20px 0 10px 0;
}
#content1 h3:after {
  content: " ────";
  color: #ccc;
}
#content1 h3:before {
  content: "──── ";
  color: #ccc;
}

#content1 .content_img2 {
  width: 600px;
  margin: 0 auto;
}
#content1 .content_img2 p {
  width: 100%;
  margin-top: 20px;
}
#content1 .content_img2 img {
  width: 100%;
}

#content1 .content_img2 b {
  font-size: 18px;
  font-weight: 400;
}

/*############## reward ##############*/
#reward {
  width: 100%;
  margin-top: 20px;
}
#reward dl {
  width: 600px;
  margin: 0 auto;
}
#reward dt {
  font-size: 22px;
  margin-top: 20px;
}

#reward .re_img {
  width: 100%;
}
#reward .re_img img {
  width: 100%;
}
#reward .text {
  font-size: 20px;
  margin-bottom: 10px;
}

#reward .rast_text {
  font-size: 20px;
  margin-bottom: 20px;
}

/*############## desc ##############*/
#desc {
  width: 100%;
  margin-bottom: 10px;
}
#desc h4 {
  text-align: center;
}
#desc_box {
  width: 600px;
  margin: 0 auto;
}

/*############## asid ##############*/
#aside {
  width: 400px;
  height: 100%;
  text-indent: 30px;
  margin-top: 160px;
  padding-left: 5px;
  float: left;
}
/*position:fixed; right:250px; top:100px; overflow:auto;*/
#aside .prod_sele {
  width: 100%;
  height: 54px;
  border-bottom: 2px solid #ccc;
  font-size: 15px;
}
#aside .prod_sele h4 {
  font-size: 17px;
  padding-bottom: 5px;
}

/*############## btnArea ##############*/
.btnArea {
  width: 50px;
  height: 100px;
  position: fixed;
  left: 1080px;
  top: 800px;
}
.btnArea .up {
  transform: rotate(90deg);
}
.btnArea .down {
  transform: rotate(267deg);
}
.btnArea p {
  width: 50px;
  height: 50px;
}
.btnArea img {
  width: 100%;
  height: 100%;
}

/*############## asid / option 영역 ##############*/
/*############## asid / option 0 ##############*/
#aside .option0 {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  color: #ccc;
}
#aside .option0:hover {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  border-color: #aaa;
}

#aside .option0 .price {
  padding-top: 20px;
  font-weight: 700;
}
#aside .option0 em {
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
}

/*############## asid / option 1 ##############*/
#aside .option1 {
  width: 100%;
  height: 110px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  color: #ccc;
}
#aside .option1:hover {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  border-color: #aaa;
}

#aside .option1 .price {
  padding-top: 20px;
  font-weight: 700;
}
#aside .option1 em {
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
}

/*############## asid / option 2 ##############*/
#aside .option2 {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  color: #ccc;
}
#aside .option2:hover {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  border-color: #aaa;
}

#aside .option2 .price {
  padding-top: 20px;
  font-weight: 700;
}
#aside .option2 em {
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
}

/*############## asid / option 3 ##############*/
#aside .option3 {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  color: #ccc;
}
#aside .option3:hover {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  border-color: #aaa;
}

#aside .option3 .price {
  padding-top: 20px;
  font-weight: 700;
}
#aside .option3 em {
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
}
