@font-face {
  font-family: "warm";
  src: url("../font/warm.woff");
}
img {
  border: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}
section,
header {
  display: block;
}

body {
  background-color: #dee9e2;
}

/*############## container ##############*/
#container {
  width: 100%;
  font-family: "warm";
  font-size: 20px;
}

/*############## content ##############*/
#content {
  width: 1280px;
  margin: 0 auto;
  padding-top: 200px;
}

#content_inner {
  width: 1280px;
  height: 450px;
  margin-bottom: 96px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
/*############## contact ##############*/
#contact {
  width: 620px;
  height: 450px;
  padding-left: 20px;
  float: left;
}
#contact li {
  padding-bottom: 40px;
}
#contact li p {
  text-indent: 20px;
}
#contact .title {
  width: 100%;
  height: 40px;
  font-size: 30px;
  margin: 20px 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
}
#contact .ani {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  padding: 0;
}
#contact .ani p {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -180px;
  top: -22px;
  position: relative;
  animation: anibox 10s 5;
}
#contact .ani img {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 0;
  top: 0;
  animation: aniImg 10s 5;
}

@keyframes anibox {
  0% {
    left: -180px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 30px;
  }
  30% {
    left: 100px;
  }
  40% {
    left: 200px;
  }
  50% {
    left: 300px;
  }
  60% {
    left: 400px;
  }
  70% {
    left: 500px;
  }
  80% {
    left: 550px;
  }
  90% {
    left: 600px;
  }
  100% {
    left: 800px;
  }
}

@keyframes aniImg {
  0% {
    top: 10px;
  }
  10% {
    top: 0;
  }
  20% {
    top: 10px;
  }
  30% {
    top: 0;
  }
  40% {
    top: 10px;
  }
  50% {
    top: 0;
  }
  60% {
    top: 10px;
  }
  70% {
    top: 0;
  }
  80% {
    top: 10px;
  }
  90% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

/*####### contact title animation 설정 #######*/
#contact .title .p {
  position: absolute;
  left: 0;
  top: 0;
  animation: aniText 1.4s 2;
}
#contact .title .r {
  position: absolute;
  left: 10px;
  top: 0;
  animation: aniText 1.6s 2;
}
#contact .title .o {
  position: absolute;
  left: 20px;
  top: 0;
  animation: aniText 1.8s 2;
}
#contact .title .j {
  position: absolute;
  left: 30px;
  top: 0;
  animation: aniText 2s 2;
}
#contact .title .e {
  position: absolute;
  left: 40px;
  top: 0;
  animation: aniText 2.2s 2;
}
#contact .title .c {
  position: absolute;
  left: 50px;
  top: 0;
  animation: aniText 2.4s 2;
}
#contact .title .t {
  position: absolute;
  left: 60px;
  top: 0;
  animation: aniText 2.6s 2;
}
#contact .title .m {
  position: absolute;
  left: 90px;
  top: 0;
  animation: aniText 2.8s 2;
}
#contact .title .a {
  position: absolute;
  left: 109px;
  top: 0;
  animation: aniText 3s 2;
}
#contact .title .n {
  position: absolute;
  left: 122px;
  top: 0;
  animation: aniText 3.2s 2;
}
#contact .title .a_ {
  position: absolute;
  left: 135px;
  top: 0;
  animation: aniText 3.4s 2;
}
#contact .title .g {
  position: absolute;
  left: 147px;
  top: 0;
  animation: aniText 3.6s 2;
}
#contact .title .e_ {
  position: absolute;
  left: 158px;
  top: 0;
  animation: aniText 3.8s 2;
}
#contact .title .r_ {
  position: absolute;
  left: 172px;
  top: 0;
  animation: aniText 4s 2;
}

@keyframes aniText {
  0% {
    top: -40px;
    transform: rotatey(180deg);
  }
  100% {
    top: 0;
  }
}

/*############## contact ##############*/
#map {
  width: 620px;
  height: 450px;
  padding-left: 20px;
  float: left;
}
#map ul {
  width: 100%;
  height: 100%;
}
#map .map_title {
  width: 100%;
  font-size: 24px;
  padding: 10px 0;
}
#map .map_seat {
  width: 580px;
  height: 350px;
}
#map .map_seat iframe {
  width: 100%;
  height: 100%;
}
